<% provide(:title, "Kontakt") %>
</div>
<section id="contact">
	<div class="inner">
		<header>
			<h1>Kontakt</h1>
		</header>
		<div class="content">
			<div class="map">
				<iframe src="https://www.google.de/maps/embed?pb=!1m18!1m12!1m3!1d34032.361761878354!2d7.586502378194912!3d51.98024477112739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b9b087123a994f%3A0x58154a6313a18dd!2sPapenbusch+33%2C+48159+M%C3%BCnster!5e0!3m2!1sde!2sde!4v1468871105390" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="half left">
				<p>Kontaktieren Sie mir - per E-Mail: <%= mail_to "babic.stefan@gmail.com" %> oder Telefon: 0176/26944301</p>
			</div>
			<div class="half right">
			</div>
		</div>
	</div>
</div>
<div class="container">

