<% provide(:title) %>
</div>
<div class="jumbotron">
	<div class="container center">
		<h1>Willkommen</h1>
		<h2>Dies ist die Startseite von meiner Probeanwendung</h2>
		<%= link_to "Registriere Dich jetzt!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>
<div class="container">
