<h1>Test App</h1>

<p>Hallo <%= @user.name %>,</p>

<p>
Herzlich Willkommen auf meiner Webseite! Um Ihr Konto zu aktivieren, klicken Sie auf den Link unten:
</p>

<%= link_to "Aktivieren", edit_account_activation_url(@user.activation_token, email: @user.email) %>
