<h1>Passwort zurücksetzen</h1>

<%= @user.name %>,

<p>Sie haben vor kurzem die Zurücksetzung Ihres Passworts angefordert.</p>

<p>Klicken Sie bitte auf den Link unten, um Ihr Passwort zu ändern:<br>
<%= link_to "Passwort zurücksetzen", edit_password_reset_url(@user.reset_token, email: @user.email) %></p>

<p>Bitte nutzen Sie den Link in den nächsten 2 Stunden.</p>
