<footer class="footer">
  <small>
    <a href="https://de.linkedin.com/in/stefan-babic-54203b120/">Stefan Babić</a> / 
    <a href="mailto:babic.stefan@gmail.com">babic.stefan@gmail.com</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über mir", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://weblog.rubyonrails.org/">News</a></li>
    </ul>
  </nav>
</footer>